# Configurações da API Gemini
REACT_APP_GEMINI_API_KEY=SUA_CHAVE_AQUI

# URL da API Backend (para acesso externo via navegador)
REACT_APP_API_URL=http://localhost:8082

# URL do Keycloak (para acesso externo via navegador)
REACT_APP_KEYCLOAK_URL=http://localhost:8080 